.card-items {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(165, 165, 239, 0.25) 0px 30px 60px -12px inset,
    rgba(219, 202, 202, 0.3) 0px 18px 36px -18px inset;
  width: 300px;
  height: 300px;
  margin: auto;
  /* margin-top: 30px; */

  /* height: 500px; */

  /* background-color:transparent; */

  padding: 10px;
  /* box-shadow: 5px 10px #888888; */
  border-radius: 150px;
}

.card-items h2 {
  color: #a77408d3;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.card-items h1 {
  font-size: 1.3rem;
  text-align: center;
}
.card-items h3 {
  font-size: 1.3rem;
  text-align: center;
}
.card-items h2 i {
  color: rgb(244, 224, 224);
}
.coantainer h1 {
  color: blueviolet;
  text-align: center;
}
.card-items h3{
  color: blueviolet;
}
#bgvid {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
